@import "../../../functions";

.mat-toolbar {
  transition: all 1s ease-in-out;
}
.inline-navigation {
  display: none;
}
.navigation-row {
  padding: 0;
  height: 37px;
}

.logo {
  background-color: white;
  border-radius: 50%;
  padding: 1px;
  margin: 0;
  margin-right: 10px;
  transition: all 1s ease-in-out;
  img {
    transition: all 1s ease-in-out;
    width: 46px;
    height: 46px;
    margin: 0;
    padding: 0;
    margin-bottom: -9px;
  }
}

.main-wrapper {
  padding-top: 30px;
}

@include breakpoint(phablet) {
  .inline-navigation {
    display: block;
  }
  .navigation-row {
    display: none;
  }
  .logo {
    padding: 5px;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .main-wrapper {
    padding: 30px;
  }
}

@include breakpoint(tablet) {
}
