<h1>Accesso volontari</h1>
<form [formGroup]="loginForm">
  <mat-form-field>
    <mat-label>Email o numero tessera</mat-label>
    <input matInput type="text" formControlName="username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-hint>
      <a href="/recover-password">password dimenticata?</a>
    </mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary">Accedi</button>
</form>
