<button mat-icon-button class="toggle-filters" (click)="openFiltersSheet()">
  <mat-icon> manage_search </mat-icon>
</button>
<div class="filters">
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input
      #in
      (afterValueChanged)="dataSource.queryBy({ search: in.value })"
      type="text"
      matInput
      placeholder="Cerca"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ruolo</mat-label>
    <mat-select (selectionChange)="dataSource.queryBy({ role: $event.value })">
      <mat-option>Tutti</mat-option>
      <mat-option value="admin">Amministratore</mat-option>
      <mat-option value="member">Volontari&#601;</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Stato</mat-label>
    <mat-select
      (selectionChange)="dataSource.queryBy({ status: $event.value })"
    >
      <mat-option>Tutti</mat-option>
      <mat-option value="enabled">Abilitato</mat-option>
      <mat-option value="disabled">Disabilitato</mat-option>
    </mat-select>
  </mat-form-field>
</div>
