:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  padding: 2em 0;
  img {
    width: 250px;
    height: auto;
  }
}

.container {
  max-width: 250px;
}
