@import "../../../../functions";

.mat-card-content {
  display: flex;
  flex-direction: column;
}

.mat-card-actions {
  margin: 0;
}

.mat-card > .mat-card-actions:last-child {
  margin: 0;
}

@include breakpoint(phablet) {
  form {
    display: flex;
    .mat-card {
      max-width: 550px;
      margin: 30px;
    }
  }
}
