<mat-toolbar>
  <mat-toolbar-row>
    <h1>Lista Volontari</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a mat-raised-button color="primary" routerLink="/users/create">
      Registra Volontari&#601;
    </a>
    <span class="spacer"></span>
    <app-users-filters
      [dataSource]="dataSource"
      class="user-filters"
    ></app-users-filters>
  </mat-toolbar-row>
</mat-toolbar>
<app-users-list class="list-listing" [dataSource]="dataSource"></app-users-list>
<app-users-table
  class="table-listing"
  [dataSource]="dataSource"
  [initialSort]="initialSort"
></app-users-table>
