@import "~@angular/material/theming";

@include mat-core();

$ronda-warehouse-primary: mat-palette($mat-indigo);
$ronda-warehouse-accent: mat-palette($mat-pink, A200, A100, A400);
$ronda-warehouse-warn: mat-palette($mat-red);

$ronda-warehouse-theme: mat-light-theme(
  (
    color: (
      primary: $ronda-warehouse-primary,
      accent: $ronda-warehouse-accent,
      warn: $ronda-warehouse-warn,
    ),
  )
);
